[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-environ = "*"

[requires]
python_version = "3.7"
