{% extends 'base.html' %}
{% load static %}


<title>{% block title %}WordNerd | Register {% endblock %} </title>


{% block main %}


{% block body_block %}

  <form class="register" method="post" action=".">
  <h1>WordNerd Registration</h1>
  {% csrf_token %}

  <div class="register-area">
		<p>
			<label for="id_username">Username:</label>
			<input class="register-fields" id="id_username" name="username" type="text" />
		</p>
    <p>
			<label for="id_email">Email: </label>
			<input class="register-fields" id="id_email" name="email" type="email" required/>
		</p>
		<p>
			<label for="id_password1">Password: </label>
			<input class="register-fields" id="id_password1" name="password1" type="password" required/>
		</p>

		<p>
			<label for="id_password1">Confirm: </label>
			<input class="register-fields" id="id_password2" name="password2" type="password" required/>
		</p>

		<input class="register-btn" type="submit" value="Submit" />
	</div>
{% endblock %}

{% endblock main %}
