@charset "UTF-8";
@page {
  size: 8.5in 11in;
  margin: 1in 1in 1in 1in;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-break {
  page-break-before: always;
}

/* ========= Adress =========== */

aside {
  display: flex;
  margin-bottom: 5em;
}

aside address {
  font-style: normal;
  white-space: pre-line;
  font-weight: 600;
}

aside address#from {
  flex: 1;
}

aside address#to {
  text-align: right;
}

.center {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center; */
  justify-content: center;
}

/* ========= Grid =========== */

table {
  border-spacing: 0;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 0px;
  font-size: 20px;
  outline: none;
  padding: 1px;
}

.number {
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  box-sizing: content-box;
  bottom: 20px;
  left: 1px;
  height: 30%;
}

.number.empty {
  bottom: 15px;
}

.entry {
  height: 70%;
  margin-top: 8px;
}

.black {
  background-color: black;
}

/* ========= Clue Lists =========== */

.clue-list-container ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

.clue-item {
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.clue {
  width: 65%;
}

.answer {
  width: 30%;
  float: left;
}