@charset "UTF-8";
@page {
  size: 8.5in 11in;
  margin: 1in 1in 1in 1in;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========= Adress =========== */

aside {
  display: flex;
  margin-bottom: 2em;
}

html aside address {
  font-style: normal;
  white-space: pre-line;
}

html aside address#from {
  flex: 1;
}

html aside address#to {
  text-align: right;
}

/* ========= Grid =========== */

table {
  border-spacing: 0;
}

td {
  border: 1px solid black;
  position: relative;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 0px;
  font-size: 25px;
  outline: none;
}

.number {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  box-sizing: content-box;
  bottom: 21px;
  left: 1px;
}

.number.empty {
  bottom: 6px;
}

.entry {
  margin-top: 2px;
}

.black {
  background-color: black;
}