* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: #4b6beb;
}

/* Top Navigation
_______________________________________________________ */

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #17202a;
}

.navbar-top .logo {
  font-size: 40px;
  margin-left: 50px;
  font-weight: 600;
  color: whitesmoke;
}

.navbar-top .nav-top-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 20px;
  color: whitesmoke;
}

.navbar-top .nav-top-links a {
  color: whitesmoke;
  padding: 15px;
  transition: all 0.2s ease;
  font-size: 24px;
  font-weight: 600;
}

.navbar-top .nav-top-links a:hover {
  color: #d5d8dc;
}

/* Welcome Index
________________________________________________ */

.welcome h1 {
  font-size: 40px;
  font-family: Montserrat;
  text-align: center;
  margin: 50px 0 30px;
  color: #e6401d;
  /* color: grey; */
}

.welcome h3 {
  font-size: 30px;
  font-family: Montserrat;
  color: #17202a;
  text-align: center;
  margin-left: 75px;
  width: 95%;
}

.flex-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 95%;
}

.you-box h2 {
  font-size: 30px;
  margin-left: 100px;
  font-family: Montserrat;
  color: #17202a;
  text-align: center;
  width: 95%;
}

.you-box {
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 0 5px grey;
  margin: right;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  text-align: left;
  height: 200px;
  width: 600px;
}

.you-box:hover {
  box-shadow: 0 0 5px #17202a;
}

/* .you-box h2 {
  font-size: 50px;
  font-weight: 600;
  font-weight: 600;
} */

.you-box p {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.feature-box {
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 0 5px grey;
  margin-left: 10px;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  text-align: left;
  height: 200px;
  width: 700px;
}

.feature-box:hover {
  box-shadow: 0 0 5px #17202a;
}

.feature-box h2 {
  font-size: 50px;
  font-weight: 600;
}

.feature-box p {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

/* Bottom nav-bar
________________________________________________ */

.motto-bottom h2 {
  font-size: 30px;
  font-family: Montserrat;
  text-align: center;
  margin: 50px 0 30px;
  color: #e6401d;
}

.navbar-bottom {
  display: flex;
  position: fixed;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #17202a;
}

.navbar-bottom .nav-bottom-links {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  align-items: center;
  list-style: none;
  margin-right: 20px;
  color: whitesmoke;
  background-color: #17202a;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.navbar-bottom .nav-bottom-links a {
  font-size: 40px;
  display: block;
  margin-left: 50px;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-left: 50px;
  font-weight: 600;
  color: #e6401d;
}

.navbar-bottom .nav-bottom-links a:hover {
  color: #d5d8dc;
}
