:root {
  --active-black-color: #645500;
  --home-page-link-color: #0518c2;
  --home-page-link-color-hover: #4378eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

/* Top Navigation
_______________________________________________________ */

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #17202a;
}

.navbar-top .logo {
  font-size: 25px;
  margin-left: 2rem;
  font-weight: 600;
  color: whitesmoke;
}

.navbar-top .logo:hover {
  text-decoration: underline;
}

.navbar-top .nav-top-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}

.navbar-top .nav-top-links a {
  font-size: 24px;
  font-weight: 600;
  color: #85abd2;
  padding: 15px;
  transition: all 0.2s ease;
}

.navbar-top .nav-top-links a:hover {
  color: whitesmoke;
}

.left-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.save-container {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1rem;
}

.last-saved-container {
  margin: 0 0.5rem;
  font-size: .8rem;
  color: darkgrey
}

/* Welcome Index
________________________________________________ */

.welcome {
  background: url("../images/crossword-pencil.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}

.welcome::before {
  content: "";
  position: absolute;
  background-color: #ffffffdd;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.welcome-text {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 20px 0 30px;
  color: #183f8a;
  z-index: 1;
}

.welcome-text h2 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  color: #17202a;
  text-align: center;
  margin-left: 75px;
  width: 95%;
}

.welcome-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.you-box, .feature-box {
  display: inline-block;
  padding: 0.25rem;
  margin: 20px 10px;
  text-align: left;
  width: 600px;
}

.you-box h3, .feature-box h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.you-box p, .feature-box p {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .you-box, .feature-box {
    width: 100%;
  }
}

/* User Homepage
________________________________________________ */

.user-homepage {
  background: url("../images/crossword-pencil.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 100%;
  min-height: 96vh;
}

.user-homepage::before {
  content: "";
  position: absolute;
  background-color: #ffffffdd;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.user-homepage .user-text {
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 1rem auto;
  color: #17202a;
  z-index: 1;
}

.date {
  font-weight: 400;
}

/* === Dropdown === */

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown-trigger {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(49, 93, 150);
  background-color: rgb(205, 229, 255);
  padding: 8px;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #91b5f9;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(248, 248, 248, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-menu a {
  font-weight: 600;
  color: var(--home-page-link-color);
  padding: 8px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  color: var(--home-page-link-color-hover);
  background-color: rgb(228, 238, 255, .75);
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}

.flex-box {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-top: 0px;
  width: 95%;
  z-index: 1;
}

.draft-box, .completed-box {
  display: flex;
  display: inline-block;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 0.25rem;
  margin: 0;
  margin-left: 100 0 75px;
  text-align: left;
}

.draft-box h3, .completed-box h3 {
  font-size: 30px;
  font-weight: 600;
}

.draft-box a, .completed-box a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--home-page-link-color)
}

.draft-box a:hover, .completed-box a:hover {
  color: var(--home-page-link-color-hover);
}

.puzzle-title-display {
  padding: 3px;
}

@media screen and (max-width: 700px) {
  .draft-box, .completed-box {
    max-width: 100%;
  }
}

/* New Puzzle Form
________________________________________________ */

#new-puzzle-form {
  font-size: 1.2rem;
  margin: 0.5rem;
}

#new-puzzle-form input {
  font-size: 1.1rem;
  padding: 2px;
  border: 0.5px solid gray;
  border-radius: 5px;
  width: 4rem;
}

#new-puzzle-form label:last-of-type {
  margin-right: 10px;
}

/* -------- Crossword pages ----------- */

.grid {
  width: max-content;
}

.grid-container {
  width: 100%;
}

/* .grid-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: default;
  border: 0.5px solid gray;
}

.highlighted {
  background-color: #a7d8ff;
}

.active {
  background-color: #ffda00;
}

.entry {
  font-size: 23px;
  text-align: center;
  width: 100%;
  /* padding: 2px; */
}

.number {
  font-size: 9px;
  font-weight: bold;
  width: 100%;
  height: 0;
  padding: 1px;
  position: relative;
  bottom: 1px;
}

.black {
  background-color: black;
  color: black;
}

.black.active {
  background-color: var(--active-black-color);
  color: var(--active-black-color);
}

.input-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 525px;
  align-items: flex-start;
  justify-content: center;
}

.clue-input-label {
  font-size: 1.1rem;
  font-weight: 600;
}

.clue-input-container {
  width: 100%;
  max-width: 450px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 6px 12px;
  display: inline-block;
  box-sizing: border-box;
}

.clue-input-container textarea {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  height: 45px;
}

.clue-list-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-left: .3rem;
}

.clue-list {
  margin-right: 0.1rem;
  width: 50%;
}

.clue-list ul {
  list-style-type: none;
  height: 75vh;
  overflow-y: scroll;
  /* width: 100%; */
}

.clue-list-title {
  border-radius: 5px;
  width: 97%;
  padding: 0 0.3rem;
  background-color: aliceblue;
  font-size: 1.1rem;
  font-weight: 600;
}

.clue-number {
  font-weight: 600;
  margin-right: 2px;
}

.clue {
  padding: 2.5px 4px;
  border-radius: 3px;
  cursor: default;
  height: auto;
  white-space: breakspaces;
}

.clue.highlighted {
  background-color: #b3ddff;
}

.secondary {
  background-color: rgb(224, 240, 255);
}

/* ----------- Buttons ------------------ */

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 18px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  height: 35px;
}

#create-btn {
  background-color: var(--home-page-link-color-hover)
}

#create-btn:hover {
  background-color: var(--home-page-link-color);
}

.save-btn {
  font-size: 1.2rem;
  background-color: rgb(49, 93, 150);
}

.save-btn:hover {
  background-color: rgb(60, 114, 185);
}

#delete-btn {
  background-color: rgb(165, 0, 0);
}

#delete-btn:hover {
  background-color: rgb(114, 5, 5);
}

#complete-btn {
  background-color: rgb(46, 116, 49);
}

#complete-btn:hover {
  background-color: rgb(31, 77, 33);
}

/* ----------- Tabs ------------------ */

.vue-tabs .nav-tabs>li>a {
  line-height: 1;
}

.tab-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 0 .5rem;
  width: 100%;
}

.properties-container label {
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
}

.properties-container {
  /* display: flex;
  flex-flow:  wrap;
  align-items: center; */
  width: 100%;
}

.prop-container {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

#title-inp {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
}

.description-container textarea {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 6rem;
  border-radius: 5px;
}

.radio-container label {
  margin: .5rem;
  display: inline;
}

.tips h3 {
  font-size: 24px;
  color: rgb(46, 116, 49);
  margin: 1rem;
  margin-top: 40px;
}

.tips p {
  font-size: 20px;
  color: #17202a;
  margin: 1.25rem;
  margin-top: 0;
  text-align: left;
}

.export-list-container {
  width: 100%;
}

.export-container {
  margin: 2rem 1rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

.export-container input {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
}

.export-container a {
  color: inherit;
  text-decoration: underline;
}

.export-container a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.export-container.nytimes form {
  display: flex;
  flex-flow: column nowrap;
}

.flexrow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
  /* height: 2rem; */
  margin-bottom: .5rem;
}

.inp-label-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: .5rem;
  margin-right: 2rem
}