:root {
  --active-black-color: #645500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

/* Top Navigation
_______________________________________________________ */

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #17202a;
}

.navbar-top .logo {
  font-size: 40px;
  margin-left: 50px;
  font-weight: 600;
  color: whitesmoke;
}

.navbar-top .nav-top-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 20px;
  color: #e6401d;
}

.navbar-top .nav-top-links a {
  font-size: 24px;
  font-weight: 600;
  color: #e6401d;
  padding: 15px;
  transition: all 0.2s ease;
}

.navbar-top .nav-top-links a:hover {
  color: whitesmoke;
}

/* Welcome Index
________________________________________________ */

.welcome {
  background: url("../images/crossword-pencil.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-style: groove;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.welcome::before {
  content: "";
  position: absolute;
  background-color: #ffffffdd;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.welcome-text {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 20px 0 30px;
  color: #e6401d;
  z-index: 1;
}

.welcome-text h2 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  color: #17202a;
  text-align: center;
  margin-left: 75px;
  width: 95%;
}

.welcome-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.you-box,
.feature-box {
  display: inline-block;
  padding: 0.25rem;
  margin: 20px 10px;
  text-align: left;
  width: 600px;
}

.you-box h3,
.feature-box h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.you-box p,
.feature-box p {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .you-box,
  .feature-box {
    width: 100%;
  }
}

/* User Homepage
________________________________________________ */

.user-homepage {
  background: url("../images/crossword-pencil.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-style: groove;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 80vh;
}

.user-homepage::before {
  content: "";
  position: absolute;
  background-color: #ffffffdd;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.user-homepage .user-text {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 50px 0 30px;
  color: #17202a;
  z-index: 1;
}

.flex-box {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 0px;
  width: 95%;
  z-index: 1;
}

.draft-box,
.completed-box {
  display: flex;
  display: inline-block;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 0.25rem;
  margin: 0;
  margin-left: 100 0 75px;
  text-align: left;
  height: 100px;
  width: 400px;
}

.draft-box h3,
.completed-box h3 {
  font-size: 30px;
  font-weight: 600;
}

.draft-box a,
.completed-box a {
  font-size: 15px;
  font-weight: 600;
  color: #0537df;
}

.draft-box a:hover,
.completed-box a:hover {
  color: #879ff1;
}

.draft-box display-title,
.completed-box display-title {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.draft-box puzzle-title-display,
.completed-box puzzle-title-display {
  font-size: 10px;
  font-weight: 400;
  color: black;
  font-family: Montserrat, sans-serif;
  color: #17202a;
  text-align: center;
  margin-left: 75px;
  width: 95%;
}

@media screen and (max-width: 700px) {
  .draft-box,
  .completed-box {
    max-width: 100%;
  }
}

/* New Puzzle Form
________________________________________________ */

#new-puzzle-form {
  font-size: 20px;
}

#new-puzzle-form input {
  font-size: 16px;
}

#new-puzzle-form label:last-of-type {
  margin-right: 10px;
}

/* Bottom nav-bar
________________________________________________ */

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #17202a;
}

.navbar-bottom p {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: whitesmoke;
  white-space: nowrap;
  margin-left: 50px;
}

.navbar-bottom .nav-bottom-links {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-right: 40px;
  /* color: #e6401d; */
  background-color: #17202a;
}

.navbar-bottom .nav-bottom-links a {
  color: #e6401d;
  padding: 15px;
}
.navbar-bottom .nav-bottom-links a:hover {
  color: whitesmoke;
}

/* -------- Crossword pages ----------- */

#editor-app {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 0.5rem;
}

.grid {
  width: max-content;
}

.grid-container {
  width: 100%;
}

/* .grid-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */

.cell {
  width: 35px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: default;
  border: 0.5px solid gray;
  height: 35px;
}

.highlighted {
  background-color: #a7d8ff;
}

.active {
  background-color: #ffda00;
}

.entry {
  font-size: 25px;
  text-align: center;
  width: 100%;
  /* padding: 2px; */
}

.number {
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  height: 8%;
  padding-left: 1px;
}

.black {
  background-color: black;
  color: black;
}

.black.active {
  background-color: var(--active-black-color);
  color: var(--active-black-color);
}

.input-container {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 525px;
  align-items: flex-start;
  justify-content: center;
}

.clue-input-label {
  font-size: 1.1rem;
  font-weight: 600;
}

.clue-input-container {
  width: 525px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 8px 16px;
  display: inline-block;
  box-sizing: border-box;
}

/* .clue-input-container input[type=text] {
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  width: 100%;
} */

.clue-input-container textarea {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  width: 100%;
  height: 45px;
}

.clue-list-container {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
}

.clue-list-container ul {
  list-style-type: none;
}

.clue-list {
  margin-right: 0.1rem;
  width: 50%;
}

.clue-list ul {
  height: 590px;
  overflow-y: scroll;
  /* width: 100%; */
}

.clue-list-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.clue-number {
  font-weight: 600;
  margin-right: 2px;
}

.clue {
  padding: 2.5px 4px;
  border-radius: 3px;
  cursor: default;
  height: auto;
  white-space: breakspaces;
}

.clue.highlighted {
  background-color: #b3ddff;
}

.secondary {
  background-color: rgb(224, 240, 255);
}

.btn {
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

#create-btn {
  color: black;
}

#save-btn {
  background-color: rgb(46, 116, 49);
}
#complete-btn {
  background-color: rgb(80, 48, 117);
}
