{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css">
<script src="https://unpkg.com/vue-nav-tabs/dist/vue-tabs.js"></script>
{% endblock meta %}

{% block content %}

<!-- Pass in puzzle json from Django template context -->
{{ puzzle|json_script:"puzzle-data" }}

<div id="editor-app">

  {% block topbar %}
  <header>
    <nav class="navbar-top">
      <div class="left-nav">
        <a class="logo" href="{% url 'home' %}">
          <h1>WordNerd</h1>
        </a>
        <div class="save-container">
          <button class="btn save-btn" @click="savePuzzle">Save</button>
          <div class="last-saved-container">
            <p v-show="lastSaved">Last saved at ${ lastSaved.time }</p>
            <p v-show="lastSaved">on ${ lastSaved.date }</p>
          </div>
        </div>
      </div>
      <ul class="nav-top-links">
        <a href="{% url 'auth_logout' %}">Logout </a>
      </ul>
    </nav>
  </header>
  {% endblock topbar %}


  {% block main %}
  <vue-tabs>
    <v-tab title="Grid">
      <div class="input-container">
        <span v-if="grid[activeCell]===BLACK" style="visibility:hidden; height:1.4rem"><b>Hide</b></span>
        <span class="clue-input-label" v-if="grid[activeCell]!==BLACK">
          ${ gridnums[highlighted[0]] } ${direction}:
        </span>
        <div class="clue-input-container">
          <textarea id="clue-input" wrap="soft" maxlength="200" style="overflow:auto; resize:none;"
            v-model.trim="currentClue"></textarea>
        </div>

        <div class="grid-container" tabindex="0">
          <div class='grid' :style="gridStyle">
            <x-cell v-for="n in length" :key="n" :idx="n-1" :active-cell="activeCell" :input-area="inputArea"
              :grid="grid" :highlighted="highlighted" @cell-clicked="handleCellClick">
              <div slot="number" class="number"><span v-if="gridnums[n-1] !== 0">${ gridnums[n-1] }</span></div>
              <div slot="entry" class="entry">${ grid[n-1] }</div>
            </x-cell>
          </div>
        </div>
      </div>


      <div class="clue-list-container">
        <div class="clue-list">
          <p class="clue-list-title">Across:</p>
          <ul>
            <x-clue v-for="number in clueNumbers.across" :key="number" :direction="direction" :gridnums="gridnums"
              :highlighted="highlighted" :clue-type="across" :number="number" :cross-numbers="getNumberInterval(across)"
              @clue-clicked="handleClueClick">
              <span class="clue-number">${ number }:</span> ${ clues.across[String(number)] }
            </x-clue>
          </ul>
        </div>
        <div class="clue-list">
          <p class="clue-list-title">Down:</p>
          <ul>
            <x-clue v-for="number in clueNumbers.down" :key="number" :direction="direction" :gridnums="gridnums"
              :highlighted="highlighted" :clue-type="down" :number="number" :cross-numbers="getNumberInterval(down)"
              @clue-clicked="handleClueClick">
              <span class="clue-number">${ number }:</span> ${ clues.down[String(number)] }
            </x-clue>
          </ul>
        </div>
      </div>
    </v-tab>

    <v-tab title="Puzzle Properties">
      <div class="properties-container">
        <div class="title-container prop-container">
          <label for="title-inp">Title:</label>
          <input v-model="title" type="text" id="title-inp" maxlength="64">
        </div>
        <div class="description-container prop-container">
          <label for="description-inp">Description/Notes:</label>
          <textarea v-model="description" id="description-inp" maxlength="1023"></textarea>
        </div>

        <div class="symmetry-container prop-container">
          <div class="radio-container">
            <input type="radio" id="rotational" name="symmetry" value="rotational" v-model="symmetry">
            <label for="rotational">Rotational (default)</label>
          </div>
          <div class="radio-container">
            <input type="radio" id="vertical" name="symmetry" value="vertical" v-model="symmetry">
            <label for="vertical">Vertical</label>
          </div>
          <div class="radio-container">
            <input type="radio" id="horizontal" name="symmetry" value="horizontal" v-model="symmetry">
            <label for="horizontal">Horizontal</label>
          </div>
          <div class="radio-container">
            <input type="radio" id="none" name="symmetry" value="none" v-model="symmetry">
            <label for="none">None</label>
          </div>
        </div>

        <div class="complete-container prop-container">
          <button id="complete-btn" class="btn green" @click="completePuzzle">Mark as complete</button>
        </div>

        <div class="delete-container prop-container">
          <label for="delete-btn">Delete this puzzle (this cannon be undone; export this puzzle's data if you need
            to keep a copy)</label>
          <button id="delete-btn" class="btn danger" title="Delete puzzle">Delete</button>
        </div>

      </div>
    </v-tab>

    <v-tab title="Navigation">
      <div class="tips">
        <h3>Click Tips:</h3>
        <ul>
          <p>✚ Click <strong>"WordNerd"</strong> in top left corner to return to your home page.</p>
          <p>✚ Click <strong>CREATE</strong> button to create a new puzzle.</p>
          <p>✚ Click <strong>SAVE</strong> button to save your current puzzle.</p>
          <p>✚ Click <strong>MARK AS COMPLETE</strong> button to finish your puzzle.</p>
        </ul>

        <h3>Cell Tips:</h3>
        <ul>
          <p>✚ Enter a period in a cell to create a black square.</p>
          <p>✚ Use keyboard <strong>ARROWS</strong> to move from cell to cell.</p>
          <p>✚ Press <strong>ENTER</strong> or <strong>SPACEBAR</strong> to change cell direction.</p>
        </ul>

        <h3>Grid Tips:</h3>
        <ul>
          <p>✚ Use mouse to click on clue to activate word.</p>
          <p>✚ When editing current clue, <strong>TAB</strong> to return to grid.</p>
          <p>✚ <strong>SHIFT + TAB</strong> to edit clue for current word.</p>
          <p>✚ Select <strong>Puzzle Properties</strong> tab to change Symmetry Options.</p>
        </ul>
      </div>
    </v-tab>

    <v-tab title="Export">
      <div class="export-list-container">
        <div class="export-container">
          <a id="export-json" download="my_exported_puzzle.json" href="">
            <button class="btn save-btn">Download as JSON</button>
          </a>
          (<a href="https://www.xwordinfo.com/">https://www.xwordinfo.com/</a> format)
        </div>
        <div id="nyt-app" class="export-container nytimes">
          Download a pdf of your puzzle in the
          <a href="https://www.nytimes.com/puzzles/submissions/crossword">format</a>
          required to submit to the New York Times (requires an address, which we do not save).
          <form id="export-nytimes-pdf">
            <div class="flexrow">
              <div class="inp-label-container">
                <label for="firstname">First name:</label>
                <input type="text" id="firstname">
              </div>
              <div class="inp-label-container">
                <label for="lastname">Last name:</label>
                <input type="text" id="lastname">
              </div>
            </div>
            <div class="inp-label-container">
              <label for="street">Street Adress:</label>
              <input type="text" id="street">
            </div>
            <div class="inp-label-container">
              <label for="city">City:</label>
              <input type="text" id="city">
            </div>
            <div class="flexrow">
              <div class="inp-label-container">
                <label for="state">State:</label>
                <input type="text" id="state" maxlength="2" width="2" placeholder="AA">
              </div>
              <div class="inp-label-container">
                <label for="zip">ZIP Code:</label>
                <input type="text" id="zip" maxlength="5" width="5" placeholder="00000">
              </div>
            </div>
            <div class="inp-label-container">
              <label for="email">Email:</label>
              <input type="email" id="email" size="30">
            </div>
            <button class="btn save-btn" type="submit">Download</button> (this may take a second or two)
          </form>
        </div>
      </div>
    </v-tab>
  </vue-tabs>

  {% endblock main %}

</div>



<script>
  // get json string store it in a variable
  var puzzleData = JSON.parse(document.querySelector("#puzzle-data").textContent);
  const puzzlePK = {{ pk }}

  const BLACK = '.'

  /* ================ CLUE Component =================================*/
  Vue.component("x-clue", {
    template: `
      <li class="clue" :class="clueClasses" @click="clicked">
        <slot></slot>
      </li>`,
    props: ['direction', 'gridnums', 'highlighted', 'clueType', 'number', 'crossNumbers'],
    data: function () {
      return {
        test: 1
      };
    },
    computed: {
      isHighlighted() {
        return this.direction === this.clueType && this.gridnums[this.highlighted[0]] == this.number
      },
      isSecondary() {
        return this.direction !== this.clueType && this.crossNumbers[0] == this.number
      },
      clueClasses() {
        return { highlighted: this.isHighlighted, secondary: this.isSecondary }
      }
    },
    methods: {
      clicked() {
        this.$emit("clue-clicked", this.number, this.clueType);
      }
    }
  });



  /* ================ CELL Component =================================*/
  Vue.component("x-cell", {
    template: `
      <div class="cell" :class="cellClasses" @click="clicked">
        <slot name="number"></slot>
        <slot name="entry"></slot>
      </div>`,
    props: ['idx', 'activeCell', 'inputArea', 'grid', 'highlighted'],
    data: function () {
      return {
        test: 1
      };
    },
    computed: {
      isActive() {
        return this.idx === this.activeCell;
      },
      currentInput() {
        return this.idx === this.inputArea;
      },
      isBlack() {
        return this.grid[this.idx] === BLACK
      },
      isHighlighted() {
        return this.highlighted.includes(this.idx)
      },
      cellClasses() {
        return { active: this.isActive, black: this.isBlack, highlighted: this.isHighlighted }
      }
    },
    methods: {
      clicked() {
        this.$emit("cell-clicked", this.idx);
      }
    }
  });





  /* ================ Editor APP =================================*/
  const editor = new Vue({
    el: "#editor-app",
    delimiters: ["${", "}"],
    data: {
      grid: puzzleData.grid, // flat array representation of the grid (left->right, top->bottom)
      clues: puzzleData.clues,
      rowN: puzzleData.size.rowN,
      colN: puzzleData.size.colN,
      title: puzzleData.title,
      description: puzzleData.description,
      symmetry: 'rotational', // other values: none, vertical, horizontal
      isVertical: false,
      BLACK: '.',
      across: 'across', // string needed for x-clue component prop
      down: 'down', // string needed for x-clue component prop
      activeCell: 0,
      inputArea: 0,
      lastSaved: ''
    },

    computed: {
      length() {
        return this.grid.length
      },

      direction() {
        return this.isVertical ? 'down' : 'across'
      },

      gridStyle() {
        return {
          display: 'grid',
          'grid-template-columns': `repeat(${this.colN}, 1fr [col-start])`,
          'grid-auto-rows': '1fr'
        }
      },

      clueNumbers() {
        let numbs = { across: [], down: [] }
        this.gridnums.map((number, idx) => {
          if (this.isNumberedCell(idx)) {
            if (this.lookLeft(idx)) {
              numbs.across.push(String(number))
            }
            if (this.lookUp(idx)) {
              numbs.down.push(String(number))
            }
          }
        })
        return numbs
      },

      currentClue: {
        get() {
          const direction = this.direction
          const number = this.gridnums[this.highlighted[0]]
          return this.clues[direction][number]
        },
        set(newValue) {
          const direction = this.direction
          const number = this.gridnums[this.highlighted[0]]
          this.clues[direction][number] = newValue.replace(/\n/g, ' ')
        }
      },

      gridnums() {
        let returnArr = []
        let count = 0
        for (let i = 0; i < this.length; i++) {
          if (this.isNumberedCell(i)) {
            count += 1
            returnArr.push(count)
          }
          else {
            returnArr.push(0)
          }
        }
        return returnArr
      },

      highlighted() {
        return this.getInterval(this.activeCell, this.direction)
      },

      answers() {
        let answers = {}
        let tempGrid = []
        this.grid.map((e, i) => {
          if (this.lookLeft(i)) {
            tempGrid.push('.')
            tempGrid.push(e)
          }
          else {
            tempGrid.push(e)
          }
        })
        answers.across = tempGrid.join("").split('.').filter((word) => { return word !== "" })

        answers.down = this.clueNumbers.down.map((num) => {
          let idx = this.gridnums.indexOf(Number(num))
          return this.getInterval(idx, "down")
            .map((index) => {
              return this.grid[index]
            })
            .join("")
        })
          .filter((word) => { return word !== "" })
        return answers
      }
    },

    methods: {
      exportJSON() {
        let grid = this.grid
        let gridnums = this.gridnums
        let size = {
          cols: this.colN,
          rows: this.rowN
        }
        let clues = {
          across: [],
          down: []
        }

        for (let dir of ['across', 'down']) {
          this.clueNumbers[dir].map((number) => {
            let clue = this.clues[dir][number]
            let exportClue = `${number}. ${clue}`
            clues[dir].push(exportClue)
          })
        }

        let answers = this.answers

        return JSON.stringify({ grid, gridnums, size, clues, answers })
      },


      getInterval(idx, dir) {
        let returnArr = []
        if (this.grid[idx] === BLACK) {
          return returnArr
        }
        let start = idx
        let stop = idx
        let inc = (dir === 'down') ? this.colN : 1
        if (dir === 'down') {
          while (!this.lookUp(start)) {
            start -= inc
          }
          while (!this.lookDown(stop)) {
            stop += inc
          }
        }
        else {
          while (!this.lookLeft(start)) {
            start -= inc
          }
          while (!this.lookRight(stop)) {
            stop += inc
          }
        }
        for (let i = start; i <= stop; i += inc) {
          returnArr.push(i)
        }
        return returnArr
      },

      getNumberInterval(dir) {
        return this.getInterval(this.activeCell, dir).map(i => this.gridnums[i])
      },

      handleCellClick(idx) {
        if (this.activeCell === idx) {
          this.toggleVertical()
        }
        this.activeCell = idx;
      },

      handleClueClick(number, clueType) {
        if (clueType !== this.direction) {
          this.toggleVertical()
        }
        const idx = this.gridnums.indexOf(Number(number))
        this.activeCell = idx;
        document.querySelector('#clue-input').focus()
      },

      prepareSaveData() {
        let grid = this.grid
        let clues = this.clues
        let size = { rowN: this.rowN, colN: this.colN }
        let title = this.title
        let description = this.description
        let gridnums = this.gridnums // remove later, maybe
        let answers = this.answers // remove later, maybe
        let pk = puzzlePK
        return { grid, gridnums, clues, size, title, description, answers, pk }
      },

      savePuzzle() {
        saveData = this.prepareSaveData(puzzleData)
        return fetch(`/save/`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(saveData)
        })
          .then(response => response.json())
          .then(jsonResp => {
            console.log(jsonResp.message)
            let dt = new Date()
            this.lastSaved = { date: dt.toLocaleDateString(), time: dt.toLocaleTimeString() }
          })
      },

      completePuzzle() {
        saveData = this.prepareSaveData(puzzleData)
        return fetch(`/mark-complete/`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(saveData)
        })
          .then(resp => resp.json())
          .then(jsonData => {
            if (jsonData.redirect === true) {
              window.location.replace("/")
            }
          })
      },

      arrayToCoor(idx) {
        return { row: Math.floor(idx / this.colN), col: idx % this.colN }
      },
      coorToArray(row, col) {
        return row * this.colN + col
      },

      computeSymmetry(idx) {
        let row = this.arrayToCoor(idx).row
        let col = this.arrayToCoor(idx).col
        let newRow = this.rowN - row - 1
        let newCol = this.colN - col - 1
        switch (this.symmetry) {
          case "rotational":
            return this.coorToArray(newRow, newCol)
            break
          case "vertical":
            return this.coorToArray(row, newCol)
            break
          case "horizontal":
            return this.coorToArray(newRow, col)
            break
        }
      },

      applySymmetry(idx, value) {
        if (this.grid[idx] === BLACK) {
          this.updateGrid(this.computeSymmetry(idx), value)
        }
      },

      updateGrid(idx, value) {
        // note: splice works when idx < 0, like in Python
        this.grid.splice(idx, 1, value);
      },

      toggleVertical() {
        this.isVertical = !this.isVertical
      },

      isNumberedCell(idx) {
        if (this.grid[idx] === BLACK) {
          return false
        }
        return this.lookUp(idx) || this.lookLeft(idx)
      },

      lookUp(idx) {
        // return true if idx is in row 1 or is below black square
        return (idx < this.colN) || (this.grid[idx - this.colN] === BLACK)
      },
      lookDown(idx) {
        // return true if idx is in row 1 or is below black square
        return (idx >= this.length - this.colN) || (this.grid[idx + this.colN] === BLACK)
      },
      lookLeft(idx) {
        // return true if idx is in column 1 or to the right of a black square
        return (idx % this.colN === 0) || (this.grid[idx - 1] === BLACK)
      },
      lookRight(idx) {
        // return true if idx is in column 1 or to the right of a black square
        return (idx % this.colN === this.colN - 1) || (this.grid[idx + 1] === BLACK)
      },

      keyhandle(event) {
        const key = event.key.toUpperCase()
        const validEntries = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ.*@#'
        const validDirectives = ['ARROWUP', 'ARROWDOWN', 'ARROWLEFT', 'ARROWRIGHT', 'BACKSPACE', 'DELETE', 'ENTER', ' ']
        if (validEntries.includes(key)) {
          this.updateGrid(this.activeCell, key)
          this.applySymmetry(this.activeCell, BLACK)
          this.nextCell()
        }
        else if (validDirectives.includes(key)) {
          event.preventDefault()
          this.enterArrowsDeleteBackspace(key)
        }
      },

      nextCell() {
        if (!this.isVertical) {
          if (this.activeCell < this.length - 1) {
            this.activeCell = this.activeCell + 1
          }
        }
        else {
          this.activeCell += (this.activeCell + this.colN <= this.length) ? this.colN : 0
        }
      },

      prevCell() {
        if (!this.isVertical) {
          if (this.activeCell > 0) {
            this.activeCell = this.activeCell - 1
          }
        }
        else {
          this.activeCell -= (this.activeCell - this.colN >= 0) ? this.colN : 0
        }
      },

      enterArrowsDeleteBackspace(key) {
        if (key === 'DELETE') {
          if (this.grid[this.activeCell] === BLACK) {
            this.applySymmetry(this.activeCell, '')
          }
          this.updateGrid(this.activeCell, '')
        }
        else if (key === 'BACKSPACE') {
          if (this.grid[this.activeCell] === '') {
            this.prevCell()
            if (this.grid[this.activeCell] === BLACK) {
              this.applySymmetry(this.activeCell, '')
            }
            this.updateGrid(this.activeCell, '')
          }
          else {
            if (this.grid[this.activeCell] === BLACK) {
              this.applySymmetry(this.activeCell, '')
            }
            this.updateGrid(this.activeCell, '')
          }
        }
        else if (key === 'ENTER' || key === ' ') {
          this.toggleVertical()
        }
        else if (key === "ARROWRIGHT") {
          if (this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.nextCell()
          }
        }
        else if (key === "ARROWLEFT") {
          if (this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.prevCell()
          }
        }
        else if (key === "ARROWDOWN") {
          if (!this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.nextCell()
          }
        }
        else if (key === "ARROWUP") {
          if (!this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.prevCell()
          }
        }
      }

    },


    created: function () {
      document.addEventListener('keydown', (event) => {
        const ignoreIds = ['clue-input', 'title-inp', 'description-inp']
        if (!ignoreIds.includes(event.target.id)) {
          this.keyhandle(event)
        }
      })
    }
  });



  const jsn = editor.exportJSON()
  const data = new File([jsn], 'my_exported_puzzle.json', { type: 'application/json' })
  let url = window.URL.createObjectURL(data)
  document.querySelector('#export-json').href = url



  const deleteButton = document.querySelector('#delete-btn')
  deleteButton.addEventListener('click', deleteEvent)
  function deleteEvent(event) {
    const result = confirm('Do you want to permanently delete this puzzle?')
    if (result) {
      return fetch(`/delete/${puzzlePK}/`, { method: 'DELETE' })
        .then((resp) => {
          return resp.json()
        })
        .then(jsonResp => {
          if (jsonResp.status === 'ok') {
            window.location.href = '/'
          }
          else {
            deleteButton.insertAdjacentHTML('afterend', `<div class="error">${jsonResp.message}</div>`)
          }
        })
    }
  }






  document.querySelector('#export-nytimes-pdf').addEventListener('submit', (event) => {
    event.preventDefault()

    let addressInputs = document.querySelectorAll('#export-nytimes-pdf input')
    let formData = {}
    for (let inp of addressInputs) {
      formData[inp.id] = inp.value
    }
    console.log(formData)
    return fetch(`/export/${puzzlePK}/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData)
    })
      .then(resp => resp.blob())
      .then(blob => {
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = "test.pdf";
        document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
        a.click();
        a.remove();
      })

  })

</script>

{% endblock content %}