{% extends 'base.html' %} {% load static %} {% block meta %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock meta %} {% block content %}
<!-- Pass in puzzle json from Django template context -->
{{ puzzle|json_script:"puzzle-data" }}

<div id="editor-app">
  <div class="input-container">
    <span v-if="grid[activeCell]==='.'" style="visibility: hidden"
      ><b>Hide</b></span
    >
    <span class="clue-input-label" v-if="grid[activeCell]!=='.'">
      ${ gridnums[highlighted[0]] } ${direction}:
    </span>
    <div class="clue-input-container">
      <textarea
        id="clue-input"
        wrap="soft"
        maxlength="200"
        style="overflow:auto; resize:none;"
        v-model.trim="currentClue"
      ></textarea>
    </div>

    <div class="grid-container" tabindex="0">
      <div class="grid" :style="gridStyle">
        <x-cell
          v-for="n in length"
          :key="n"
          :idx="n-1"
          :active-cell="activeCell"
          :input-area="inputArea"
          :grid="grid"
          :highlighted="highlighted"
          @cell-clicked="handleCellClick"
        >
          <div slot="number" class="number">
            <span v-if="gridnums[n-1] !== 0">${ gridnums[n-1] }</span>
          </div>
          <div slot="entry" class="entry">${ grid[n-1] }</div>
        </x-cell>
      </div>
    </div>
  </div>

  <div class="clue-list-container">
    <div class="clue-list">
      <p class="clue-list-title">Across:</p>
      <ul>
        <x-clue
          v-for="number in clueNumbers.across"
          :key="number"
          :direction="direction"
          :gridnums="gridnums"
          :highlighted="highlighted"
          :clue-type="across"
          :number="number"
          :cross-numbers="getNumberInterval(across)"
          @clue-clicked="handleClueClick"
        >
          <span class="clue-number">${ number }:</span> ${
          clues.across[String(number)] }
        </x-clue>
      </ul>
    </div>
    <div class="clue-list">
      <p class="clue-list-title">Down:</p>
      <ul>
        <x-clue
          v-for="number in clueNumbers.down"
          :key="number"
          :direction="direction"
          :gridnums="gridnums"
          :highlighted="highlighted"
          :clue-type="down"
          :number="number"
          :cross-numbers="getNumberInterval(down)"
          @clue-clicked="handleClueClick"
        >
          <span class="clue-number">${ number }:</span> ${
          clues.down[String(number)] }
        </x-clue>
      </ul>
    </div>
  </div>

  <div class="save-container">
    <button id="save-btn" class="btn" @click="savePuzzle">Save</button>
    <p v-show="lastSaved">Last saved at ${ lastSaved.time }</p>
    <p v-show="lastSaved">on ${ lastSaved.date }</p>
  </div>
  <div class="complete-container">
    <button id="complete-btn" class="btn" @click="completePuzzle">
      Mark as complete
    </button>
  </div>
</div>

<div class="export-file">
  <a id="export-puzzle" download="my_exported_puzzle.json" href=”” >Download as Text File</a>
</divd>

<script>
  // get json string store it in a variable
  var puzzleData = JSON.parse(document.querySelector("#puzzle-data").textContent);
  puzzleData.pk = {{ pk }}

  function blankPuzzle(rowN, colN) {
    let obj = { size: { rowN, colN } }
    obj.grid = []
    for (let i = 1; i <= rowN * colN; i++) {
      obj.grid.push('')
    }
    obj.clues = {
      across: { '1': '' },
      down: { '1': '' }
    }
    return obj
  }

  // var puzzleData = blankPuzzle(10,15)



  const BLACK = '.'

  /* ================ CLUE Component =================================*/
  Vue.component("x-clue", {
    template: `
      <li class="clue" :class="clueClasses" @click="clicked">
        <slot></slot>
      </li>`,
    props: ['direction', 'gridnums', 'highlighted', 'clueType', 'number', 'crossNumbers'],
    data: function () {
      return {
        test: 1
      };
    },
    computed: {
      isHighlighted() {
        return this.direction === this.clueType && this.gridnums[this.highlighted[0]] == this.number
      },
      isSecondary() {
        return this.direction !== this.clueType && this.crossNumbers[0] == this.number
      },
      clueClasses() {
        return { highlighted: this.isHighlighted, secondary: this.isSecondary }
      }
    },
    methods: {
      clicked() {
        this.$emit("clue-clicked", this.number, this.clueType);
      }
    }
  });



  /* ================ CELL Component =================================*/
  Vue.component("x-cell", {
    template: `
      <div class="cell" :class="cellClasses" @click="clicked">
        <slot name="number"></slot>
        <slot name="entry"></slot>
      </div>`,
    props: ['idx', 'activeCell', 'inputArea', 'grid', 'highlighted'],
    data: function () {
      return {
        test: 1
      };
    },
    computed: {
      isActive() {
        return this.idx === this.activeCell;
      },
      currentInput() {
        return this.idx === this.inputArea;
      },
      isBlack() {
        return this.grid[this.idx] === BLACK
      },
      isHighlighted() {
        return this.highlighted.includes(this.idx)
      },
      cellClasses() {
        return { active: this.isActive, black: this.isBlack, highlighted: this.isHighlighted }
      }
    },
    methods: {
      clicked() {
        this.$emit("cell-clicked", this.idx);
      }
    }
  });





  /* ================ Editor APP =================================*/
  const editor = new Vue({
    el: "#editor-app",
    delimiters: ["${", "}"],
    data: {
      grid: puzzleData.grid, // flat array representation of the grid (left->right, top->bottom)
      clues: puzzleData.clues,
      // across: puzzleData.clues.across,
      // down: puzzleData.clues.down,
      rowN: puzzleData.size.rowN,
      colN: puzzleData.size.colN,
      isVertical: false,
      across: 'across', // string needed for x-clue component prop
      down: 'down', // string needed for x-clue component prop
      activeCell: 0,
      inputArea: 0,
      lastSaved: ''
    },

    computed: {
      length() {
        return this.grid.length
      },

      direction() {
        return this.isVertical ? 'down' : 'across'
      },

      gridStyle() {
        return {
          display: 'grid',
          'grid-template-columns': `repeat(${this.colN}, 1fr [col-start])`,
          'grid-auto-rows': '1fr'
        }
      },

      clueNumbers() {
        let numbs = { across: [], down: [] }
        this.gridnums.map((number, idx) => {
          if (this.isNumberedCell(idx)) {
            if (this.lookLeft(idx)) {
              numbs.across.push(String(number))
            }
            if (this.lookUp(idx)) {
              numbs.down.push(String(number))
            }
          }
        })
        return numbs
      },

      currentClue: {
        get() {
          const direction = this.direction
          const number = this.gridnums[this.highlighted[0]]
          return this.clues[direction][number]
        },
        set(newValue) {
          const direction = this.direction
          const number = this.gridnums[this.highlighted[0]]
          this.clues[direction][number] = newValue.replace(/\n/g, ' ')
        }
      },

      gridnums() {
        let returnArr = []
        let count = 0
        for (let i = 0; i < this.length; i++) {
          if (this.isNumberedCell(i)) {
            count += 1
            returnArr.push(count)
          }
          else {
            returnArr.push(0)
          }
        }
        return returnArr
      },

      highlighted() {
        return this.getInterval(this.direction)
      }
    },

    methods: {
      exportJSON(){
        let grid = this.grid
        let gridnums = this.gridnums
        let size = {
          cols: this.colN,
          rows: this.rowN
        }
        let clues = {
          across: [],
          down: []
        }
      this.clueNumbers.across.map((number) => {
        let clue = this.clues.across[String(number)]
        let exportClue = `${number}. ${clue}`
        clues.across.push(exportClue)
      })

      this.clueNumbers.down.map((number) => {
        let clue = this.clues.down[String(number)]
        let exportClue = `${number}. ${clue}`
        clues.down.push(exportClue)
      })
      let answers = {
        across: [],
        down: []
        }
      this.grid//get length of cell where cell not is BLACK, then concat those values
    },


      getInterval(dir) {
        let returnArr = []
        if (this.grid[this.activeCell] === BLACK) {
          return returnArr
        }
        let start = this.activeCell
        let stop = this.activeCell
        let inc = (dir === 'down') ? this.colN : 1
        if (dir === 'down') {
          while (!this.lookUp(start)) {
            start -= inc
          }
          while (!this.lookDown(stop)) {
            stop += inc
          }
        }
        else {
          while (!this.lookLeft(start)) {
            start -= inc
          }
          while (!this.lookRight(stop)) {
            stop += inc
          }
        }
        for (let i = start; i <= stop; i += inc) {
          returnArr.push(i)
        }
        return returnArr
      },

      getNumberInterval(dir) {
        return this.getInterval(dir).map(i => this.gridnums[i])
      },

      handleCellClick(idx) {
        if (this.activeCell === idx) {
          this.toggleVertical()
        }
        this.activeCell = idx;
      },

      handleClueClick(number, clueType) {
        if (clueType !== this.direction) {
          this.toggleVertical()
        }
        const idx = this.gridnums.indexOf(Number(number))
        this.activeCell = idx;
        document.querySelector('#clue-input').focus()
      },

      prepareSaveData() {
        let grid = this.grid
        let clues = this.clues
        let size = { rowN: this.rowN, colN: this.colN }
        let pk = puzzleData.pk
        return { grid, clues, size, pk }
      },

      savePuzzle() {
        saveData = this.prepareSaveData(puzzleData)
        return fetch(`/save/`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(saveData)
        })
          .then(response => response.json())
          .then(jsonResp => {
            console.log(jsonResp.message)
            let dt = new Date()
            this.lastSaved = { date: dt.toLocaleDateString(), time: dt.toLocaleTimeString() }
          })
      },

      completePuzzle() {
        saveData = this.prepareSaveData(puzzleData)
        return fetch(`/mark-complete/`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(saveData)
        })
        .then(resp => resp.json())
        .then(jsonData => {
          if (jsonData.redirect === true){
            window.location.replace("/")
          }
        })
      },

      updateGrid(idx, value) {
        this.grid.splice(idx, 1, value);
      },

      toggleVertical() {
        this.isVertical = !this.isVertical
      },

      isNumberedCell(idx) {
        if (this.grid[idx] === BLACK) {
          return false
        }
        return this.lookUp(idx) || this.lookLeft(idx)
      },

      lookUp(idx) {
        // return true if idx is in row 1 or is below black square
        return (idx < this.colN) || (this.grid[idx - this.colN] === BLACK)
      },
      lookDown(idx) {
        // return true if idx is in row 1 or is below black square
        return (idx >= this.length - this.colN) || (this.grid[idx + this.colN] === BLACK)
      },
      lookLeft(idx) {
        // return true if idx is in column 1 or to the right of a black square
        return (idx % this.colN === 0) || (this.grid[idx - 1] === BLACK)
      },
      lookRight(idx) {
        // return true if idx is in column 1 or to the right of a black square
        return (idx % this.colN === this.colN - 1) || (this.grid[idx + 1] === BLACK)
      },

      keyhandle(event) {
        const key = event.key.toUpperCase()
        const validEntries = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ.*@#'
        const validDirectives = ['ARROWUP', 'ARROWDOWN', 'ARROWLEFT', 'ARROWRIGHT', 'BACKSPACE', 'DELETE', 'ENTER']
        if (validEntries.includes(key)) {
          this.updateGrid(this.activeCell, key)
          this.nextCell()
        }
        else if (validDirectives.includes(key)) {
          event.preventDefault()
          this.enterArrowsDeleteBackspace(key)
        }
      },

      nextCell() {
        if (!this.isVertical) {
          if (this.activeCell < this.length - 1) {
            this.activeCell = this.activeCell + 1
          }
        }
        else {
          this.activeCell += (this.activeCell + this.colN <= this.length) ? this.colN : 0
        }
      },

      prevCell() {
        if (!this.isVertical) {
          if (this.activeCell > 0) {
            this.activeCell = this.activeCell - 1
          }
        }
        else {
          this.activeCell -= (this.activeCell - this.colN >= 0) ? this.colN : 0
        }
      },

      enterArrowsDeleteBackspace(key) {
        if (key === 'DELETE') {
          this.updateGrid(this.activeCell, '')
        }
        else if (key === 'BACKSPACE') {
          if (this.grid[this.activeCell] === '') {
            this.prevCell()
            this.updateGrid(this.activeCell, '')
          }
          else {
            this.updateGrid(this.activeCell, '')
          }
        }
        else if (key === 'ENTER') {
          this.toggleVertical()
        }
        else if (key === "ARROWRIGHT") {
          if (this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.nextCell()
          }
        }
        else if (key === "ARROWLEFT") {
          if (this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.prevCell()
          }
        }
        else if (key === "ARROWDOWN") {
          if (!this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.nextCell()
          }
        }
        else if (key === "ARROWUP") {
          if (!this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.prevCell()
          }
        }
      }

    },

    created: function () {
      document.addEventListener('keydown', (event) => {
        if (event.target.id !== 'clue-input') {
          this.keyhandle(event)
        }
      })
    }
  });
</script>

{% endblock content %}
