{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css">
<script src="https://unpkg.com/vue-nav-tabs/dist/vue-tabs.js"></script>
{% endblock meta %}

{% block content %}
<!-- Pass in puzzle json from Django template context -->
{{ puzzle|json_script:"puzzle-data" }}


<div id="editor-app">

  <vue-tabs>
    <v-tab title="Grid">
      <div class="input-container">
        <span v-if="grid[activeCell]==='.'" style="visibility: hidden"><b>Hide</b></span>
        <span class="clue-input-label" v-if="grid[activeCell]!=='.'">
          ${ numbers[highlighted[0]] } ${direction}:
        </span>
        <div class="clue-input-container">
          <textarea id="clue-input" wrap="soft" maxlength="200" style="overflow:auto; resize:none;"
            v-model.trim="currentClue"></textarea>
        </div>

        <div class="grid-container" tabindex="0">
          <div class='grid' :style="gridStyle">
            <x-cell v-for="n in length" :key="n" :idx="n-1" :active-cell="activeCell" :input-area="inputArea"
              :grid="grid" :highlighted="highlighted" @cell-clicked="handleCellClick">
              <div slot="number" class="number"><span v-if="numbers[n-1] !== 0">${ numbers[n-1] }</span></div>
              <div slot="entry" class="entry">${ grid[n-1] }</div>
            </x-cell>
          </div>
          <div class="save-container">
            <button id="save-btn" class="btn" @click="savePuzzle">Save</button>
            <p v-show="lastSaved">Last saved at ${ lastSaved.time }</p>
            <p v-show="lastSaved">on ${ lastSaved.date }</p>
          </div>
        </div>
      </div>


      <div class="clue-list-container">
        <div class="clue-list">
          <p class="clue-list-title">Across:</p>
          <ul>
            <x-clue v-for="number in clueNumbers.across" :key="number" :direction="direction" :numbers="numbers"
              :highlighted="highlighted" :clue-type="across" :number="number" :cross-numbers="getNumberInterval(across)"
              @clue-clicked="handleClueClick">
              <span class="clue-number">${ number }:</span> ${ clues.across[String(number)] }
            </x-clue>
          </ul>
        </div>
        <div class="clue-list">
          <p class="clue-list-title">Down:</p>
          <ul>
            <x-clue v-for="number in clueNumbers.down" :key="number" :direction="direction" :numbers="numbers"
              :highlighted="highlighted" :clue-type="down" :number="number" :cross-numbers="getNumberInterval(down)"
              @clue-clicked="handleClueClick">
              <span class="clue-number">${ number }:</span> ${ clues.down[String(number)] }
            </x-clue>
          </ul>
        </div>
      </div>
    </v-tab>

    <v-tab title="Puzzle Properties">
      <div class="symmetry-container">
        <div>
          <input type="radio" id="rotational" name="symmetry" value="rotational" v-model="symmetry">
          <label for="rotational">Rotational (default)</label>
        </div>

        <div>
          <input type="radio" id="vertical" name="symmetry" value="vertical" v-model="symmetry">
          <label for="vertical">Vertical</label>
        </div>

        <div>
          <input type="radio" id="horizontal" name="symmetry" value="horizontal" v-model="symmetry">
          <label for="horizontal">Horizontal</label>
        </div>
        <div>
          <input type="radio" id="none" name="symmetry" value="none" v-model="symmetry">
          <label for="none">None</label>
        </div>
      </div>

      {% comment %}
      <div class="size-container">
        <input type="number" id="rowN" name="rowN" min="1" max="30" style="display: inline;" class="inp" value="15">
        <label for="rowN">rows</label>
        and <input type="number" id="colN" name="colN" min="1" max="30" style="display: inline;" class="inp" value="15">
        <label for="colN">columns.</label>
      </div>
      {% endcomment %}
      <div class="complete-container">
        <button id="complete-btn" class="btn" @click="completePuzzle">Mark as complete</button>
      </div>
    </v-tab>

  </vue-tabs>
</div>



<script>
  // get json string store it in a variable
  var puzzleData = JSON.parse(document.querySelector("#puzzle-data").textContent);
  puzzleData.pk = {{ pk }}

  const BLACK = '.'

  /* ================ CLUE Component =================================*/
  Vue.component("x-clue", {
    template: `
      <li class="clue" :class="clueClasses" @click="clicked">
        <slot></slot>
      </li>`,
    props: ['direction', 'numbers', 'highlighted', 'clueType', 'number', 'crossNumbers'],
    data: function () {
      return {
        test: 1
      };
    },
    computed: {
      isHighlighted() {
        return this.direction === this.clueType && this.numbers[this.highlighted[0]] == this.number
      },
      isSecondary() {
        return this.direction !== this.clueType && this.crossNumbers[0] == this.number
      },
      clueClasses() {
        return { highlighted: this.isHighlighted, secondary: this.isSecondary }
      }
    },
    methods: {
      clicked() {
        this.$emit("clue-clicked", this.number, this.clueType);
      }
    }
  });



  /* ================ CELL Component =================================*/
  Vue.component("x-cell", {
    template: `
      <div class="cell" :class="cellClasses" @click="clicked">
        <slot name="number"></slot>
        <slot name="entry"></slot>
      </div>`,
    props: ['idx', 'activeCell', 'inputArea', 'grid', 'highlighted'],
    data: function () {
      return {
        test: 1
      };
    },
    computed: {
      isActive() {
        return this.idx === this.activeCell;
      },
      currentInput() {
        return this.idx === this.inputArea;
      },
      isBlack() {
        return this.grid[this.idx] === BLACK
      },
      isHighlighted() {
        return this.highlighted.includes(this.idx)
      },
      cellClasses() {
        return { active: this.isActive, black: this.isBlack, highlighted: this.isHighlighted }
      }
    },
    methods: {
      clicked() {
        this.$emit("cell-clicked", this.idx);
      }
    }
  });





  /* ================ Editor APP =================================*/
  const editor = new Vue({
    el: "#editor-app",
    delimiters: ["${", "}"],
    data: {
      grid: puzzleData.grid, // flat array representation of the grid (left->right, top->bottom)
      clues: puzzleData.clues,
      // across: puzzleData.clues.across,
      // down: puzzleData.clues.down,
      rowN: puzzleData.size.rowN,
      colN: puzzleData.size.colN,
      symmetry: 'rotational', // other values: none, vertical, horizontal
      isVertical: false,
      across: 'across', // string needed for x-clue component prop
      down: 'down', // string needed for x-clue component prop
      activeCell: 0,
      inputArea: 0,
      lastSaved: ''
    },

    computed: {
      length() {
        return this.grid.length
      },

      direction() {
        return this.isVertical ? 'down' : 'across'
      },

      gridStyle() {
        return {
          display: 'grid',
          'grid-template-columns': `repeat(${this.colN}, 1fr [col-start])`,
          'grid-auto-rows': '1fr'
        }
      },

      clueNumbers() {
        let numbs = { across: [], down: [] }
        this.numbers.map((number, idx) => {
          if (this.isNumberedCell(idx)) {
            if (this.lookLeft(idx)) {
              numbs.across.push(String(number))
            }
            if (this.lookUp(idx)) {
              numbs.down.push(String(number))
            }
          }
        })
        return numbs
      },

      currentClue: {
        get() {
          const direction = this.direction
          const number = this.numbers[this.highlighted[0]]
          return this.clues[direction][number]
        },
        set(newValue) {
          const direction = this.direction
          const number = this.numbers[this.highlighted[0]]
          this.clues[direction][number] = newValue.replace(/\n/g, ' ')
        }
      },

      numbers() {
        let returnArr = []
        let count = 0
        for (let i = 0; i < this.length; i++) {
          if (this.isNumberedCell(i)) {
            count += 1
            returnArr.push(count)
          }
          else {
            returnArr.push(0)
          }
        }
        return returnArr
      },

      highlighted() {
        return this.getInterval(this.direction)
      }
    },

    methods: {
      getInterval(dir) {
        let returnArr = []
        if (this.grid[this.activeCell] === BLACK) {
          return returnArr
        }
        let start = this.activeCell
        let stop = this.activeCell
        let inc = (dir === 'down') ? this.colN : 1
        if (dir === 'down') {
          while (!this.lookUp(start)) {
            start -= inc
          }
          while (!this.lookDown(stop)) {
            stop += inc
          }
        }
        else {
          while (!this.lookLeft(start)) {
            start -= inc
          }
          while (!this.lookRight(stop)) {
            stop += inc
          }
        }
        for (let i = start; i <= stop; i += inc) {
          returnArr.push(i)
        }
        return returnArr
      },

      getNumberInterval(dir) {
        return this.getInterval(dir).map(i => this.numbers[i])
      },

      handleCellClick(idx) {
        if (this.activeCell === idx) {
          this.toggleVertical()
        }
        this.activeCell = idx;
      },

      handleClueClick(number, clueType) {
        if (clueType !== this.direction) {
          this.toggleVertical()
        }
        const idx = this.numbers.indexOf(Number(number))
        this.activeCell = idx;
        document.querySelector('#clue-input').focus()
      },

      prepareSaveData() {
        let grid = this.grid
        let clues = this.clues
        let size = { rowN: this.rowN, colN: this.colN }
        let pk = puzzleData.pk
        return { grid, clues, size, pk }
      },

      savePuzzle() {
        saveData = this.prepareSaveData(puzzleData)
        return fetch(`/save/`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(saveData)
        })
          .then(response => response.json())
          .then(jsonResp => {
            console.log(jsonResp.message)
            let dt = new Date()
            this.lastSaved = { date: dt.toLocaleDateString(), time: dt.toLocaleTimeString() }
          })
      },

      completePuzzle() {
        saveData = this.prepareSaveData(puzzleData)
        return fetch(`/mark-complete/`, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(saveData)
        })
          .then(resp => resp.json())
          .then(jsonData => {
            if (jsonData.redirect === true) {
              window.location.replace("/")
            }
          })
      },

      arrayToCoor(idx) {
        return { row: Math.floor(idx / this.colN), col: idx % this.colN }
      },
      coorToArray(row, col) {
        return row * this.colN + col
      },

      computeSymmetry(idx) {
        let row = this.arrayToCoor(idx).row
        let col = this.arrayToCoor(idx).col
        let pm // 1 or -1
        if (this.symmetry === "rotational") {
          return this.coorToArray(this.rowN - row - 1, this.colN - col - 1)
        }
        else if (this.symmetry === "vertical") {
          let newCol = this.colN - col - 1
          return this.coorToArray(row, newCol)
        }
        else if (this.symmetry === "horizontal") {
          let newRow = this.rowN - row - 1
          return this.coorToArray(newRow, col)
          //pm = (row > this.rowN / 2) ? -1 : 1
          //return pm * this.colN * (this.rowN - 1 - row) + col
        }
      },

      applySymmetry(idx, value) {
        if (this.grid[idx] === BLACK) {
          this.updateGrid(this.computeSymmetry(idx), value)
        }
      },

      updateGrid(idx, value) {
        // note: splice works when idx < 0, like in Python
        this.grid.splice(idx, 1, value);
      },

      toggleVertical() {
        this.isVertical = !this.isVertical
      },

      isNumberedCell(idx) {
        if (this.grid[idx] === BLACK) {
          return false
        }
        return this.lookUp(idx) || this.lookLeft(idx)
      },

      lookUp(idx) {
        // return true if idx is in row 1 or is below black square
        return (idx < this.colN) || (this.grid[idx - this.colN] === BLACK)
      },
      lookDown(idx) {
        // return true if idx is in row 1 or is below black square
        return (idx >= this.length - this.colN) || (this.grid[idx + this.colN] === BLACK)
      },
      lookLeft(idx) {
        // return true if idx is in column 1 or to the right of a black square
        return (idx % this.colN === 0) || (this.grid[idx - 1] === BLACK)
      },
      lookRight(idx) {
        // return true if idx is in column 1 or to the right of a black square
        return (idx % this.colN === this.colN - 1) || (this.grid[idx + 1] === BLACK)
      },

      keyhandle(event) {
        const key = event.key.toUpperCase()
        const validEntries = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ.*@#'
        const validDirectives = ['ARROWUP', 'ARROWDOWN', 'ARROWLEFT', 'ARROWRIGHT', 'BACKSPACE', 'DELETE', 'ENTER']
        if (validEntries.includes(key)) {
          this.updateGrid(this.activeCell, key)
          this.applySymmetry(this.activeCell, BLACK)
          this.nextCell()
        }
        else if (validDirectives.includes(key)) {
          event.preventDefault()
          this.enterArrowsDeleteBackspace(key)
        }
      },

      nextCell() {
        if (!this.isVertical) {
          if (this.activeCell < this.length - 1) {
            this.activeCell = this.activeCell + 1
          }
        }
        else {
          this.activeCell += (this.activeCell + this.colN <= this.length) ? this.colN : 0
        }
      },

      prevCell() {
        if (!this.isVertical) {
          if (this.activeCell > 0) {
            this.activeCell = this.activeCell - 1
          }
        }
        else {
          this.activeCell -= (this.activeCell - this.colN >= 0) ? this.colN : 0
        }
      },

      enterArrowsDeleteBackspace(key) {
        if (key === 'DELETE') {
          if (this.grid[this.activeCell] === BLACK) {
            this.applySymmetry(this.activeCell, '')
          }
          this.updateGrid(this.activeCell, '')
        }
        else if (key === 'BACKSPACE') {
          if (this.grid[this.activeCell] === '') {
            this.prevCell()
            if (this.grid[this.activeCell] === BLACK) {
              this.applySymmetry(this.activeCell, '')
            }
            this.updateGrid(this.activeCell, '')
          }
          else {
            if (this.grid[this.activeCell] === BLACK) {
              this.applySymmetry(this.activeCell, '')
            }
            this.updateGrid(this.activeCell, '')
          }
        }
        else if (key === 'ENTER') {
          this.toggleVertical()
        }
        else if (key === "ARROWRIGHT") {
          if (this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.nextCell()
          }
        }
        else if (key === "ARROWLEFT") {
          if (this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.prevCell()
          }
        }
        else if (key === "ARROWDOWN") {
          if (!this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.nextCell()
          }
        }
        else if (key === "ARROWUP") {
          if (!this.isVertical) {
            this.toggleVertical()
          }
          else {
            this.prevCell()
          }
        }
      }

    },


    created: function () {
      document.addEventListener('keydown', (event) => {
        if (event.target.id !== 'clue-input') {
          this.keyhandle(event)
        }
      })
    }
  });

</script>

{% endblock content %}