{% extends 'base.html' %}

{% comment %} can this page display a completed puzzle? {% endcomment %}

{% block main %}
<div class="puzzle-detail">
    <h1>My <strong>WordNerd</strong> Crossword</h1>
    <div class="puzzle-detail">
        {% for puzzle in completes %}
        <div>
            <a>
                <p class="puzzle-title-display">
                {% if puzzle.data.title %}
                {{ puzzle.data.title }}
                {% else %}
                My Puzzle
                {% endif %}
                created: {{puzzle.created_at}}</p>
                <p>modified: {{puzzle.updated_at}}</p><br>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock main %}
