{% extends 'base.html' %}



{% block content %}

<div class="user-homepage">
  <div class="user-text">
    <h1>My <strong>WordNerd</strong> Crosswords</h1>
  </div>

  <div class="flex-box">
    <div class="draft-box">
      <h3>Draft Puzzles</h3>
      {% for puzzle in drafts %}
      <div>
        <a href="{% url 'edit' puzzle.pk %}">
          <div class="display-title">
            <p class="puzzle-title-display">My puzzle started at: {{puzzle.created_at}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="completed-box">
      <h3>Completed Puzzles</h3>
      {% for puzzle in completes %}
      <div>
        <a href="">
          <div class="display-title">
            <p class="puzzle-title-display">My puzzle started at: {{puzzle.created_at}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock content %}