{% extends 'base.html' %}



{% block content %}

<!-- <h2 class="user-home-title">Crossword Maker</h2> -->
<form id="new-puzzle-form" method="POST">
  {% csrf_token %}
  Start a new puzzle with <input type="number" id="rowN" name="rowN" min="1" max="30" style="display: inline;"
    class="inp" value="15">
  <label for="rowN">rows</label>
  and <input type="number" id="colN" name="colN" min="1" max="30" style="display: inline;" class="inp" value="15">
  <label for="colN">columns.</label>
  <button type="submit" class='btn'>Create</button>
</form>

<div>

  <h3 class="display">My Crosswords</h3>
  <h4>Drafts</h4>
  {% for puzzle in drafts %}
  <div>
    <a href="{% url 'edit' puzzle.pk %}">
      <div class="display-title">
        <h5 class="puzzle-title-diplay">My puzzle started at: {{puzzle.created_at}}</h5>
      </div>
    </a>
  </div>
  {% endfor %}


  <h4>Completed Puzzles</h4>
  {% for puzzle in completes %}
  <div>
    <a href="">
      <div class="display-title">
        <h5 class="puzzle-title-diplay">My puzzle started at: {{puzzle.created_at}}</h5>
      </div>
    </a>
  </div>
  {% endfor %}

</div>


<script>
  document.querySelector('#new-puzzle-form').addEventListener('submit', (event) => {
    event.preventDefault()
    const rowN = document.querySelector('#rowN').value
    const colN = document.querySelector('#colN').value
    return fetch(`/new/`, {
      method: 'POST',
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify({ rowN, colN })
    })
      .then(resp => resp.json())
      .then(data => {
        console.log(data.pk)
        window.location.href = `/edit/${data.pk}`
      })
  })
</script>

{% endblock content %}