{% extends 'base.html' %}



{% block content %}

<!-- <h2 class="user-home-title">Crossword Maker</h2> -->


<div>
  <h1 class="display">My Crosswords</h1>
  <h4>Drafts</h4>
  {% for puzzle in drafts %}
  <div>
    <a href="{% url 'edit' puzzle.pk %}">
      <div class="display-title">
        <h5 class="puzzle-title-diplay">My puzzle started at: {{puzzle.created_at}}</h5>
      </div>
    </a>
  </div>
  {% endfor %}


  <h4>Completed Puzzles</h4>
  {% for puzzle in completes %}
  <div>
    <a href="">
      <div class="display-title">
        <h5 class="puzzle-title-diplay">My puzzle started at: {{puzzle.created_at}}</h5>
      </div>
    </a>
  </div>
  {% endfor %}

</div>

{% endblock content %}