{% extends 'base.html' %}
{% load static %}

<title>{% block title %}WordNerd | Welcome! {% endblock %} </title>


{% block main %}

<div class="welcome">
  <div class="welcome-text">
    <h1>Welcome to <strong>WordNerd</strong></h1>
    <h2>the tool designed for authoring New York Times-styled crossword puzzles</h2>
  </div>

  <!-- <div class="flex-grid"> -->
  <div class="welcome-info">
    <div class="you-box">
      <h3>WordNerd Is Just For You!</h3>
      <ul>
        <p><strong>✚ Novice.</strong> Begin your very first crossword</p>
        <p><strong>✚ Expert.</strong> Design your dream-themed puzzle</p>
        <p><strong>✚ Master-Class.</strong> Construct and submit to the New York Times!</p>
      </ul>
    </div>

    <div class="feature-box">
      <h3>Features include:</h3>
      <ul>
        <p>✚ Fill in a puzzle grid, clues, title and description of a crossword</p>
        <p>✚ Grid numbering and black square symmetry automatically completed</p>
        <p>✚ Add rebus entries and circled entries</p>
        <p>✚ Save drafts and mark puzzles as complete</p>
        <p>✚ Export your puzzles to common formats to share with others.</p>
      </ul>
    </div>
  </div>

  <footer>
    Source code on <a href="https://github.com/Crossword-Editor/crossword-editor">GitHub</a>
  </footer>
</div>

{% endblock main %}