{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% comment %} <script src="{% static 'js/welcome.js' %}" defer></script> {% endcomment %}
{% endblock %}
{% block content %}

<div class="welcome">
    <div class="flex-grid">
        <div class="col">
        <h1>Crossword Maker Is Just For You!</h1>
            <a class="you-box">
                <p class="novice">Novice. Begin your very first crossword</p>
                <p class="expert">Expert. Design your dream-themed puzzle</p>
                <p class="master-class">Master-Class. Construct and submit to the New York Times!</p>
            </a> 
        </div>
        <div class="col">
        <h1>Features</h1>
            <a class="feature-box">
                <p class="feature1">It Can Do This.</p>
                <p class="feature2">That.</p>
                <p class="feature3">And, the other!</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}