<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  {% endblock meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900|Montserrat:400,500,600,700,900"
    rel="stylesheet" type="text/css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  {% block title %}<title>WordNerd</title>{% endblock %}
</head>

<body class='container'>

  {% block topbar %}
  <header>
    <nav class="navbar-top">
      <a class="logo" href="{% url 'home' %}"><h1>WordNerd</h1></a>
      <ul class="nav-top-links">
        {% if not user.is_authenticated %}
        <a href="{% url 'auth_login' %}">Login </a>
        |
        <a href="{% url 'registration_register' %}">Register</a>
        {% else %}

        <form id="new-puzzle-form" method="POST">
          Start a new puzzle with <input type="number" id="rowN" name="rowN" min="1" max="30" style="display: inline;"
            class="inp" value="15">
          <label for="rowN">rows</label>
          and <input type="number" id="colN" name="colN" min="1" max="30" style="display: inline;" class="inp" value="15">
          <label for="colN">columns.</label>
          <button type="submit" id="create-btn" class='btn'>Create</button>
        </form>


        <a href="{% url 'auth_logout' %}">Logout </a>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% endblock topbar %}

  <main>
    {% block content %}
    {% endblock content%}
  </main>

</body>

<script>
  document.querySelector('#new-puzzle-form').addEventListener('submit', (event) => {
    event.preventDefault()
    const rowN = document.querySelector('#rowN').value
    const colN = document.querySelector('#colN').value
    return fetch(`/new/`, {
      method: 'POST',
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify({ rowN, colN })
    })
      .then(resp => resp.json())
      .then(data => {
        console.log(data.pk)
        window.location.href = `/edit/${data.pk}`
      })
  })
</script>

</html>