{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% comment %} <script src="{% static 'js/welcome.js' %}" defer></script> {% endcomment %}
{% endblock %}
{% block content %}

<div class="welcome">
<h1>Crossword Maker Is Just For You!</h1>
    <div class="flex-grid">
        <a class="you-box">
            <p class="novice">Novice. Begin your very first crossword</p>
            <p class="expert">Expert. Design your dream-themed puzzle</p>
            <p class="master-class">Master-Class. Construct and submit to the New York Times!</p>

        </a>
    </div>
</div>

{% endblock %}